
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
<!-- Mobile Devices Support @begin -->
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="false" name="twcClient" id="twcClient">
<meta name="wap-font-scale" content="no">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<!--允许全屏模式-->
<meta content="yes" name="apple-mobile-web-app-capable" />
<!--指定sari的样式-->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta content="telephone=no" name="format-detection" />
<!-- Mobile Devices Support @end -->
<title>我的中奖记录</title>	
<script type="text/javascript">
	var APP_ROOT = '';
  	var LOADER_IMG = '/static/gif/loader_img.gif';
  	var LOADING_IMG = '/static/gif/loading.gif';
	var AJAX_URL = '/wap/index.php?ctl=ajax&show_prog=1';
	var PAGE_TYPE = '';
	
</script>
<link rel="stylesheet" type="text/css" href="/static/css/my_over_records.css" />
<script type="text/javascript" src="/static/js/my_over_records.js"></script>
<script>
/*app 请求时候用到*/
$(function(){
		
	//后退
	$('#header_back_btn').click(function(){
		var Expression=/http(s)?:\/\/?/;
		var objExp=new RegExp(Expression);
		var backurl = $(this).attr('backurl');
		$(this).attr('backurl','-1');
		
		if(objExp.test(backurl)==true){
			location.href = backurl;
		}else{
			window.history.go(-1);
		}
	});
	
});
</script>
<script type="text/javascript">
	//减少移动端触发"Click"事件时300毫秒的时间差
window.addEventListener('load', function() {
    FastClick.attach(document.body);
}, false);
</script>
</head> 
<body>
<!-- <div class="header">
	<div class="header-wrap">
		<div class="c-hd split-line">
	        <section class="logo_img">夺宝记录</section>
	    </div>
	</div>
</div>	 -->
<script type="text/javascript">
	
</script>


<div class="m-content">
<ul class="scroll_bottom_list">

	{% for item  in my_winning_items %}
		<li class="dblist finish">
			<div class="dblistimg">
			<a href="/shop/merchant_detail_info/?page_id=1&item_id={{ item.id }}"><img alt="" src="{{ item.merchant.mer_thume_img_oss_link }}"/></a>
			</div>
			<div class="dblistmain">

				<a class="tit" href="/shop/merchant_detail_info/?page_id=1&item_id={{ item.id }}">
					{% if item.item_status.id == 2 %}
						<span style="color:red"> 【未领奖】</span>
					{% elif item.item_status.id == 5 %}
						<span style="color:blue"> 【已领奖，待发货】</span>					
					{% elif item.item_status.id == 6 %}
						<span  style="color:green"> 【已发货】</span>				
					{% endif %}				
					{{ item.merchant.name }}
				</a>
				<div class="prl">
					<div class="lable">期号&nbsp;:&nbsp;{{ item.item_code }}</div>
					<div class="progressBar">
	                    <span class="bar" style="width:100%"><i class="color"></i></span>
	                </div>
					<!-- <div class="lable fl">总需&nbsp;:&nbsp;{{ item.merchant.price }}</div> -->

				</div>
<!-- 				<div class="prl">
					<div class="partake fl">本期我参与&nbsp;:&nbsp;<em>{{ order_times.my_order_times }}</em>人次</div>
					<a class="lookno fr" href="/record/my_item_tickets/?item_id={{ item.id }}">查看我的号码</a>
				</div> -->
							<div class="announce">				
<!-- 					<div class="mline">获得者&nbsp;:&nbsp;<span>{{ customer.name }}</span> </div> -->
					<!-- <div class="mline">本期参与&nbsp;:&nbsp;<em></em>人次</div> -->
					<div class="mline">幸运号码&nbsp;:&nbsp;<em>{{ item.winner_code }}</em> </div>

				
					{% if item.item_status.id == 6 %}
						<div class="mline">奖品状态:<span  style="color:green"> 商店已确认发货，请保证默认收货地址正确以及电话畅通</span>	
					{% elif item.item_status.id == 5 %}
						<div class="mline">奖品状态:<span> 已点击领奖，等待商店发货</span>	
					{% elif default_addrs_length == 0 %}
						<div class="mline"><a href="/user/add_new_address/?shop_id={{ shop_id }}"><span  style="color:red"> 您尚未上传默认收货地址，点此进入地址管理页面上传后，方可领奖。</span></a>						
					{% elif item.item_status.id == 2 %}
						<div class="mline">奖品状态:<a href="/record/accept_reward/?item_id={{ item.id }}"><span  style="color:red"> 尚未领奖，请点击领奖</span></a>						
					{% endif %}
					</div>
					<!-- <div class="mline">揭晓时间&nbsp;:&nbsp;2016-04-13 20:42:01</div> -->
				</div>
			</div>
		</li>	
	{% endfor %}
	
	</ul>
</div>
<div class="footer-menu-box">
    <div class="f_menu split-line-top">
      <ul class="menu_box">
        <li class="menu_item">
          <a href="/index/?shop_id={{ shop_id }}">
            <p><i class="iconfont">&#xe6ee;</i></p>
            <p class="item_txt">首页</p>
          </a>
        </li>
      <li class="menu_item">
        <a href="/shop/my_selling_list/?shop_id={{ shop_id }}">
          <p><i class="iconfont">&#58964;</i></p>
          <p class="item_txt">我的代卖</p>
        </a>
      </li>
        <li class="menu_item">
          <a href="/shop/cart/?shop_id={{ shop_id }}">
            <p style="position:relative;" >
              <i class="iconfont">&#xe6ea;</i>
              {% if cart_good_number > 0 %}
               <div class="nav_cart_num" id="nav_cart_num" style="display:block;" >{{cart_good_number}}</div>
              {% else %}
               <div class="nav_cart_num" id="nav_cart_num" >0</div>
              {% endif %}
            </p>
            <p class="item_txt">清单</p>
          </a>
        </li>
        <li class="menu_item">
          <a href="/record/my_all_records/?shop_id={{ shop_id }}">
            <p><i class="iconfont">&#xe6e9;</i></p>
            <p class="item_txt">夺宝记录</p>
          </a>
        </li>
        <li class="menu_item">
          <a href="/user/selfinfo/?shop_id={{ shop_id }}">
            <p><i class="iconfont">&#xe6ec;</i></p>
            <p class="item_txt">我</p>
          </a>
        </li>
    </ul>
    {% if next_page_id != -1 %}
	<div class="fy scroll_bottom_page">
		&nbsp;
		<span class='current'> {{ current_page_id }}</span>&nbsp;
		<a href='/record/my_winning_records/?page_id={{ next_page_id }}&shop_id={{ shop_id }}'>&nbsp;{{ next_page_id }}&nbsp;</a>    
		<a href='/record/my_winning_records/?page_id={{ next_page_id }}&shop_id={{ shop_id }}' class='btn2'>下一页</a>	
	</div>
	{% endif %}
	</div>
</div>                <div class="gotop" data-com="gotop">
				<a href="#">
					<i class="iconfont"></i>
				</a>
			</div>
	</body>
<html>