<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <!-- Mobile Devices Support @begin --> 
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" /> 
  <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
  <meta content="false" name="twcClient" id="twcClient" /> 
  <meta content="no-cache,must-revalidate" http-equiv="Cache-Control" /> 
  <meta content="no-cache" http-equiv="pragma" /> 
  <meta content="0" http-equiv="expires" /> 
  <!--允许全屏模式--> 
  <meta content="yes" name="apple-mobile-web-app-capable" /> 
  <!--指定sari的样式--> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> 
  <meta content="telephone=no" name="format-detection" /> 
  <!-- Mobile Devices Support @end --> 
  <title>{{ shop.name }}</title> 
  <script type="text/javascript">
  var APP_ROOT = '';
  var LOADER_IMG = '/static/gif/loader_img.gif';
  var LOADING_IMG = '/static/gif/loading.gif';
  var AJAX_URL = '/wap/index.php?ctl=ajax&show_prog=1';
  var PAGE_TYPE = '';

</script> 
  <link rel="stylesheet" type="text/css" href="/static/css/index.css" /> 
  <script type="text/javascript" src="/static/js/index.js"></script> 
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?451c3e0290eade7709520874139a4da2";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>

    
  <script>

/*app 请求时候用到*/
$(function(){
  
  //后退
  $('#header_back_btn').click(function(){
    var Expression=/http(s)?:\/\/?/;
    var objExp=new RegExp(Expression);
    var backurl = $(this).attr('backurl');
    $(this).attr('backurl','-1');

    if(objExp.test(backurl)==true){
      location.href = backurl;
    }else{
      window.history.go(-1);
    }
  });
});
</script> 
 </head> 
 <body> 
<!--   <header class="header-wrapper close"> 
   <div class="header-wrap"> 
    <a class="search-btn" href="/wap/index.php?ctl=search&amp;show_prog=1"> <i class="iconfont"></i> </a> 
    <div class="title">
     桔叶一元夺宝系统 - 首页
    </div> 
    <a class="user-center-link z-nav-down"></a> 
   </div> 
  </header>  -->
  <script type="text/javascript">


</script> 
  <script type="text/javascript">
  
</script> 
  <script type="text/javascript">
//减少移动端触发"Click"事件时300毫秒的时间差
window.addEventListener('load', function() {
    FastClick.attach(document.body);
}, false);
var login_url='/index/?shop_id={{shop_id}}';
</script> 
  <div class="wrap"> 
   <div class="top"> 
    <section> 
     <div id="index-adv-box" class="index-adv-box"> 
      <div class="bd"> 
       <ul> 
        {% for shop_banner in shop_banners %}
          {% if shop_banner.banner_link == "# "%}
          <li> 
            <a href="{{ shop_banner.banner_link }}"><img src="{{ shop_banner.banner_oss_img_link }}" alt="" border="0" style="width:100%;" /></a> 
          </li> 
          {% else %}
          <li> 
            <a href="{{ shop_banner.banner_link }}?shop_id={{shop_id}}"><img src="{{ shop_banner.banner_oss_img_link }}" alt="" border="0" style="width:100%;" /></a> 
          </li>    
          {% endif%}       
<!--          <li> <a href="#"><img src="http://1.fanwe.net/public/attachment/201601/22/22/56a23ca8dcb65.jpg" alt="" border="0" style="width:100%;" /></a> </li> 
        <li> <a href="#"><img src="http://1.fanwe.net/public/attachment/201601/22/22/56a23c98d0fdb.jpg" alt="" border="0" style="width:100%;" /></a> </li>  -->
        {% endfor %}
       </ul> 
      </div> 
      <div class="hd">
       <ul></ul>
      </div> 
     </div> 
    </section> 
   </div> 
   <script>
      TouchSlide({ 
        slideCell:"#index-adv-box",
        titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell:".bd ul", 
        effect:"leftLoop", 
        autoPage:true,//自动分页
        autoPlay:true, //自动播放
        delayTime:750
      });
    </script> 
<script type="text/javascript">
  
</script>
 <script type="text/javascript">

  function add_my_cart(item_id)
  {
      var cart_object=document.getElementById("nav_cart_num");
      cart_object.setAttribute("style","display:block;");
      // alert(cart_object.innerText);
      // cart_object.innerText=parseInt(cart_object.innerText)+1;
      
      $(function(){
        // 发起POST请求，记录购物车内容
        // alert("cao");
            $.post("/shop/add_cart/",{
              item_id: parseInt(item_id)
              },function(data){
                if(data){
                  var jsonobj = eval('('+data+')');
                  // alert(jsonobj);
                  cart_object.innerText=parseInt(jsonobj.cart_total_number);
                }
              }
            );        
      })
  }

</script>   
   <div class="sort_nav" id="sort_nav"> 
    <div class="sort_list split-line"> 
        <ul>
                                    <li>

                    <a class="sort_li" href="/shop/ten_yuan/?shop_id={{ shop_id }}">
                <i class="diyfont yuan" style="background-color:#43d4cd">&#58914;</i>
            <span class="txt">10元专区</span>
            </a>
                      <a class="sort_li" href="/record/my_winning_records/?shop_id={{ shop_id }}">
                <i class="diyfont yuan" style="background-color:#d93a56">&#59115;</i>
            <span class="txt">中奖记录</span>
            </a>            
                    <a class="sort_li" href="/shop/my_selling_list/?shop_id={{ shop_id }}">
                <i class="diyfont yuan" style="background-color:#52b4ff">&#58964;</i>
            <span class="txt">我的代卖</span>
            </a>
                    <a class="sort_li" href="/help/helpindex/?shop_id={{ shop_id }}">
                <i class="diyfont yuan" style="background-color:#f08e33">&#58982;</i>
            <span class="txt">帮助</span>
            </a>
                  </li>
        </ul>
 
    </div> 
   </div> 
   <script type="text/javascript">
    $(document).ready(function(){
    var i=1;
    if (i>1) {
      TouchSlide({
      slideCell:"#sort_nav",
      effect:"leftLoop",
      mainCell:"#sort_nav ul",
      autoPlay:false,
      pnLoop:false,
    });
    };
    });
    </script> 
   <!--公告--> 
   <!--end 公告--> 
   <!--最新揭晓--> 
   <!--end 最新揭晓--> 
   <!--筛选条件--> 
<!--    <div class="slider-nav split-line-top split-line"> 
    <ul> 
     <li class="nav-item"><a class=" cur" href="/wap/index.php?order=click_count&amp;show_prog=1">人气</a></li> 
     <li class="nav-item"><a class="new sort-box "="" href="/wap/index.php?order=create_time&amp;show_prog=1">最新</a></li> 
     <li class="nav-item"><a class=" " href="/wap/index.php?order=progress&amp;show_prog=1">进度</a></li> 
     <li class="nav-item"> <a class="sort-box last  " href="javascript:void(0);">总需人次 <span class="sort-icon iconfont i-up" data_url="/wap/index.php?order=max_buy&amp;order_dir=1&amp;show_prog=1"></span> <span class="sort-icon iconfont i-down" data_url="/wap/index.php?order=max_buy&amp;show_prog=1"></span> </a> </li> 
    </ul> 
   </div>  -->
   <div class="content"> 
    <!--在此处改变类名改变样式 tuan-ul-list  tuan-ul-img--> 
    <ul class="tuan-ul tuan-ul-img split-line-top"> 
      {% for item, iteminfo in filter_item_infos.items %}
        <li class="tuan_li split-line">
          <a class="blw" href="/shop/merchant_detail_info/?page_id=1&item_id={{ item.id }}">
            <div class="pic">
              {% if item.merchant.mer_type_id = 3 %}
              <div class="tenyen">
              </div>
              {% endif %}
              <img src="{{ item.merchant.mer_img_oss_link }}" lazy="true" />
            </div>
          </a>
          <div class="info">
            <div class="info-tit">
              {{ item.merchant.name }}
            </div>
            <div class="progress-box">
              <div class="left-box">
                <div class="progress-info">
                  开奖进度
                  <span>
                    {{iteminfo.progress}}%
                  </span>
                </div>
                <progress max="{{ item.merchant.price }}" value="{{ iteminfo.take_part_price }}">
                </progress>
              </div>
              <a class="right-box add_cart_item" data_id="{{ item.id }}" rel="{{ item.merchant.mer_img_oss_link }}"
              onclick="add_my_cart({{item.id}})">
                加入清单
              </a>
            </div>
          </div>
        </li>      
      {% endfor %}

    </ul> 
    <!-- <a href="/wap/index.php?ctl=duobaos&amp;show_prog=1" class="more_duobao page-load">查看更多</a>  -->
   </div> 
  </div> 
<div class="footer-menu-box">
    <div class="f_menu split-line-top">
      <ul class="menu_box">
        <li class="menu_item">
          <a href="#">
            <p><i class="iconfont">&#xe6ee;</i></p>
            <p class="item_txt">首页</p>
          </a>
        </li>
      <li class="menu_item">
        <a href="/shop/my_selling_list/?shop_id={{ shop_id }}">
          <p><i class="iconfont">&#58964;</i></p>
          <p class="item_txt">我的代卖</p>
        </a>
      </li>
        <li class="menu_item">
          <a href="/shop/cart/?shop_id={{ shop_id }}">
            <p style="position:relative;" >
              <i class="iconfont">&#xe6ea;</i>
              {% if cart_good_number > 0 %}
               <div class="nav_cart_num" id="nav_cart_num" style="display:block;" >{{cart_good_number}}</div>
              {% else %}
               <div class="nav_cart_num" id="nav_cart_num" >0</div>
              {% endif %}
            </p>
            <p class="item_txt">清单</p>
          </a>
        </li>
        <li class="menu_item">
          <a href="/record/my_all_records/?shop_id={{ shop_id }}">
            <p><i class="iconfont">&#xe6e9;</i></p>
            <p class="item_txt">夺宝记录</p>
          </a>
        </li>
        <li class="menu_item">
          <a href="/user/selfinfo/?shop_id={{ shop_id }}">
            <p><i class="iconfont">&#xe6ec;</i></p>
            <p class="item_txt">我</p>
          </a>
        </li>
    </ul>
    <!-- <a href="/o2onew/wap/biz.php?ctl=more"></a> -->

<!--     {% if next_page_id != -1 %}
      <div class="fy scroll_bottom_page">
        &nbsp;
        <span class='current'> {{ current_page_id }}</span>&nbsp;
        <a href='/index/?page_id={{ next_page_id }}&shop_id={{ shop_id }}'>&nbsp;{{ next_page_id }}&nbsp;</a>    
        <a href='/index/?page_id={{ next_page_id }}&shop_id={{ shop_id }}' class='btn2'>下一页</a> 
      </div>
    {% endif %} -->

  </div>
</div>
  <div class="gotop" data-com="gotop"> 
   <a href="#"> <i class="iconfont"></i> </a> 
  </div>  
 </body>
</html>